/* style.css */

body {
  margin: 0;
  background: #fff;
  font-family: 'EB Garamond', serif;
}

/* Left Column */
.left {
  position: fixed;
  top: 144px;
  bottom: 24px;
  left: 24px;
  width: 192px;

  font-size: 18pt;
  text-align: right;
  color: #333333;

  background-color: #f3f3f3;
}

/* Center Column */
.center {
  position: absolute;
  top: 144px;
  bottom: 24px;
  left: calc(24px + 192px + 48px);
  right: calc(264px + 72px + 24px);
  
  overflow-y: auto;

  font-size: 12pt;
  text-align: left;
  color: #333333;

  background-color: #f3f3f3;
}

/* Right Column */
.right {
  position: fixed;
  top: 144px;
  bottom: 24px;
  right: 24px;
  width: 264px;

  font-size: 12pt;
  text-align: left;
  color: #333333;

  background-color: #f3f3f3;
}

/* Collapsible submenu styling */
.submenu-collapsible {
  display: none;
}

/* Level-specific indentation */
.submenu-collapsible.level1 {
  margin-left: 12px;   /* indent Level 1 items under Cobalt */
}

.submenu-collapsible.level2 {
  margin-left: 24px;   /* indent Level 2 items under Present */
}

/* Make collapsible items block and clickable */
.collapsible {
  display: block;
  cursor: pointer;
  user-select: none;
}
